!!!
%html
  %head
    %meta{charset: 'utf-8'}
    
    %title= current_page.data.title || 'Bootstrap Compass Haml Sass Template'
    
    -#= stylesheet_link_tag "normalize", "all"
    -#= javascript_include_tag  "all"
  
  %body{class: page_classes}
    = yield
